.item__number {
  width: 100%;
  max-width: 40px;
}

.item__name {
  max-width: 434px;
  padding-right: 10px;
  width: 100%;
  align-items: center;
  display: flex;
}

.item__album {
  max-width: 363px;
  width: 100%;
  padding-right: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item__data {
  width: 100%;
  max-width: 488px;
  padding-right: 10px;
  margin-right: auto;
  color: var(--greyA4);
  font-weight: bold;
}

.item__like {
  margin-right: 18px;
}

.item__time {
  width: 100%;
  max-width: 157px;
}

.item__drop {
  width: 100%;
  max-width: 43px;
}

.data__text {
  margin-right: auto;
}

.item__drop {
  position: relative;
}

.btn__dropdown:focus {
  outline: none;
  border-color: var(--greyAA);
}

.btn__dropdown:focus circle {
  fill: var(--orange);
}

.btn__dropdown:active svg {
  transform: rotate(90deg);
}

.btn__dropdown svg {
  transition: transform 0.3s ease-in-out;
}

.name__link::before,
.btn__dropdown {
  transition: border-color 0.3s ease-in-out;
}

.name__link {
  transition: color 0.3s ease-in-out;
}

.like__btn path,
.btn__add circle,
.btn__remove svg {
  transition: fill 0.3s ease-in-out;
}

.name__link:focus {
  color: var(--orange);
}

.name__link:focus::before {
  border-color: var(--orange);
}

.like__btn:focus-visible path {
  fill: var(--orange);
}

.name__link:focus-visible,
.like__btn:focus-visible {
  outline: none;
}

.img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

.name {
  margin-bottom: 10px;
}

.name__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid var(--greyE8);
  border-bottom: 1px solid var(--greyE8);
  cursor: pointer;
}

.artist__wrapper {
  position: relative;
}

.artist {
  color: var(--greyA4);
  font-weight: 500;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
}

.artist:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  max-width: 20px;
  max-height: 20px;
}

.like__btn {
  position: relative;
  z-index: 2;
}

.btn__add,
.btn__remove {
  position: relative;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  .name__link:hover {
    color: var(--orange);
  }

  .name__link:hover::before {
    border-color: var(--orange);
  }

  .like__btn:hover path {
    fill: var(--orange);
  }

  .btn__add:hover circle {
    fill: var(--orange);
  }

  .btn__remove:hover svg {
    fill: var(--orange);
  }

  .btn__add:disabled {
    cursor: not-allowed;
  }

  .btn__add:disabled circle {
    fill: var(--greyC4);
  }

  .artist:hover {
    text-decoration: underline;
    color: var(--orange);
  }
}

@media (max-width: 1440px) {
  .header__album {
    max-width: 262px;
  }

  .header__data {
    max-width: 239px;
  }

  .header__time {
    max-width: 99px;
  }

  .item__album {
    max-width: 262px;
  }

  .item__data {
    max-width: 239px;
  }

  .item__time {
    max-width: 56px;
  }
}

@media (max-width: 992px) {

  .header,
  .data__text,
  .item__time {
    display: none;
  }

  .item__album,
  .item__data {
    max-width: none;
    flex: 4;
  }

  .item__name {
    max-width: none;
    flex: 8;
  }
}

@media (max-width: 768px) {
  .item__album {
    display: none;
  }

  .item__data {
    flex: 0;
  }
}

@media (max-width: 576px) {
  .name {
    margin-bottom: 4px;
  }

  .content {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .name__link {
    font-size: 18px;
  }

  .item {
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--whiteFF);
  }

  .item:not(:last-child) {
    margin-bottom: 20px;
  }

  .name__link:before {
    border: none;
  }
}