.title__h2 {
  font-size: 30px;
  font-weight: normal;
}

.content {
  display: block;
}

.header {
  color: var(--greyA4);
  font-size: 12px;
  letter-spacing: .09em;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__number {
  width: 100%;
  max-width: 40px;
}

.header__name {
  max-width: 434px;
  width: 100%;
}

.header__album {
  max-width: 363px;
  width: 100%;
}

.header__data {
  width: 100%;
  max-width: 488px;
  margin-right: auto;
}

.header__time {
  width: 100%;
  max-width: 200px;
}

.item {
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
}

.no__tracks {
  margin: 0;
  padding-top: 20px;
  font-size: 24px;
  text-align: center;
  background-color: var(--greyE8);
}

@media (max-width: 1440px) {
  .header__album {
    max-width: 262px;
  }

  .header__data {
    max-width: 239px;
  }

  .header__time {
    max-width: 99px;
  }

}

@media (max-width: 992px) {

  .header__data svg path,
  .header__time svg path {
    stroke: none;
  }

  .header__name,
  .header__album {
    max-width: none;
  }

  .header__name {
    flex: 8 1;
  }

  .header__album,
  .header__data {
    flex: 4 1;
  }

  .header__time {
    max-width: 63px;
  }
}

@media (max-width: 768px) {
  .header__album {
    display: none;
  }
}
