.form {
  padding-bottom: 50px;
}

.title {
  font-size: 20px;
  color: var(--black11);
}

.checkbox:checked+.label {
  outline: 2px solid var(--orange);
}

.label {
  cursor: pointer;
}

.playlist {
  width: 288px;
  height: 40px;
  margin-top: 20px;
  padding: 10px 0;
  cursor: pointer;
}

.playlist_content {
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 360px;
  overflow-y: auto;
  overflow-x: hidden;
}

.playlist__image {
  width: 40px;
  height: 40px;
  background: var(--greyAA);
  float: left;
}

.playlist__title {
  padding-left: 10px;
  padding-top: 4px;
  width: 228px;
  font-size: 14px;
  color: var(--black11);
  display: inline-block;
  transition: color 0.3s ease-in-out;
}

.playlist__info {
  padding-left: 10px;
  padding-top: 4px;
  width: 228px;
  display: inline-block;
  font-size: 12px;
  color: var(--greyAA);
}

.playlist:hover .playlist__title {
  color: var(--orange);
}

.close__btn,
.submit__btn {
  position: absolute;
  width: 114px;
  height: 32px;
  padding: 10px;
  color: var(--black17);
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.close__btn {
  bottom: 20px;
  right: 20px;
  background: var(--greyAA);
}

.submit__btn {
  bottom: 20px;
  left: 20px;
  background: var(--greyE8);
  transition: background-color 0.3s ease-in-out;
}

@media (min-width: 1200px) {

  .submit__btn:focus,
  .submit__btn:hover,
  .submit__btn:active {
    background: var(--orange);
  }
}
