.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes animatetop {
  from {
    top: 20%;
    opacity: 0
  }

  to {
    top: 50%;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: 20%;
    opacity: 0
  }

  to {
    top: 50%;
    opacity: 1
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200;
  max-width: 60vw;
  max-height: 75vh;
  padding: 20px;
  border: 1px solid var(--greyAA);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  background: var(--whiteFF);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: animatetop 0.4s ease-in-out;
  animation: animatetop 0.4s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  width: 114px;
  height: 32px;
  padding: 20px;
}

.title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 400;
  color: var(--black11);
}

.bigger__margin {
  margin-bottom: 20px;
}

.input {
  padding: 15px;
  border: 1px solid var(--orange);
  font-size: 20px;
  border-radius: 15px;
}

.label {
  margin: 0;
  font-size: 18px;
}

.submit__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.submit__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 50px;
  font-weight: 500;
  font-size: 16px;
  color: var(--black11);
  background-color: var(--greyE8);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.submit__btn:focus,
.submit__btn:hover {
  background-color: var(--orange);
}

.submit__btn:disabled {
  background-color: var(--greyAA);
}

.close__btn {
  padding: 20px 50px;
  color: var(--black17);
  font-size: 16px;
  text-align: center;
  background: var(--greyAA);
  cursor: pointer;
}

.error__block {
  font-size: 14px;
  color: rgb(189, 39, 39);
  text-align: center;
}

.mutation__error {
  text-align: left;
}

.modal__loading svg {
  margin-top: 5px;
  width: 15px;
  height: 15px;
}

.submit__pending {
  padding: 12px 42px;
}

.switch__btn {
  color: var(--orange);
  font-size: 16px;
  text-decoration: underline;
}

@media (max-width: 992px) {
  .modal {
    max-width: 400px;
    max-height: 500px;
    padding: 20px;
  }

  .title {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .input {
    padding: 10px;
    font-size: 16px;
  }

  .submit__btn,
  .close__btn {
    padding: 15px 40px;
  }
}

@media (max-width: 768px) {

  .label {
    font-size: 16px;
  }
}

@media (max-width: 576px) {

  .input {
    font-size: 14px;
  }

  .submit__btn,
  .close__btn {
    padding: 15px 35px;
    font-size: 14px;
  }
}