.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  position: relative;
  width: calc((100% - 90px)/4);
  margin-bottom: 30px;
}

.item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.add__btn {
  cursor: pointer;
}

.h3 {
  max-width: calc(100% - 32px);
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
}

.h3__link {
  transition-property: color, background-color, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.h3__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.h3__link:focus-visible {
  outline: none;
  color: var(--whiteFF);
  background-color: var(--orange);
}

.h3__link:active {
  opacity: .5;
}

.img__desktop,
.img__tablet,
.img__mobile {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.img__tablet,
.img__mobile {
  display: none;
}

.count {
  color: var(--greyA4);
  font-weight: bold;
}

.delete__btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.delete__btn svg path {
  transition: fill 0.3s ease-in-out;
}

.delete__btn:focus svg path,
.delete__btn:hover svg path,
.delete__btn:active svg path {
  fill: var(--orange);
}

.add__bg {
  position: relative;
  width: 100%;
  height: auto;
}

.add__icon {
  position: absolute;
  top: calc(45% - 60px);
  left: calc(50% - 40px);
}

.add__icon svg circle {
  transition: fill 0.3s ease-in-out;
}

.add__icon svg {
  width: 80px;
  height: 80px;
}

@media (min-width: 1200px) {
  .h3__link:hover:not(:focus-visible) {
    color: var(--orange);
  }

  .h3__link:hover:not(:focus-visible) .add__icon svg circle {
    fill: var(--orange);
  }
}

@media (max-width: 1440px) {
  .h3 {
    font-size: 24px;
  }

  .img__desktop {
    display: none;
  }

  .img__tablet {
    display: block;
  }

  .item {
    width: calc((100% - 90px) / 4);
  }

  .item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

@media (max-width: 992px) {
  .item {
    width: calc((100% - 60px) / 3);
  }

  .item:not(:nth-child(4n)) {
    margin-right: 0px;
  }

  .item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .item {
    width: calc((100% - 30px) / 2);
  }

  .item:not(:nth-child(3n)) {
    margin-right: 0px;
  }

  .item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media (max-width: 576px) {
  .item {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: var(--whiteFF);
  }

  .item:not(:nth-child(2n)) {
    margin-right: 0px;
  }

  .img__mobile {
    display: block;
    margin-bottom: 0;
    margin-right: 20px;
    height: 100%;
    width: 99px;
  }

  .img__desktop,
  .img__tablet {
    display: none;
  }

  .content {
    flex: 1;
  }

  .h3 {
    font-size: 18px;
  }

  .count {
    font-size: 12px;
  }

  .delete__btn svg {
    width: 20px;
    height: 20px;
  }

  .add__icon {
    top: 30px;
    left: 30px;
  }

  .add__icon svg {
    width: 40px;
    height: 40px;
  }

  .add__bg {
    width: fit-content;
  }
}
