:root {
  --greyAA: #AAAAAA;
  --greyA4: #A4A4A4;
  --greyE8: #E8E8E8;
  --greyC4: #C4C4C4;
  --whiteF5: #F5F5F5;
  --whiteFF: #FFFFFF;
  --black11: #11253D;
  --black17: #171717;
  --orange: #FC6D3E;
  --purple: #ECDCF7;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

body {
  margin: 0;
}

:root {
  --color-blacktxt: #11253D;
  --color-greytxt: #A4A4A4;
  --color-lightgreytxt: #C4C4C4;
  --color-greybg: #F5F5F5;
  --color-greyDarkerbg: #E8E8E8;
  --color-greyBgBtn: #AAAAAA;
  --color-promo: #FC6D3E;
  --transition-duration: .3s;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.flex {
  display: flex;
}

.search__btn-open {
  display: none;
}

.noUi-target,
.player__value .noUi-handle.noUi-handle-lower {
  cursor: pointer;
}

.track__btn-dropdown:focus {
  outline: none;
  border-color: var(--color-greyBgBtn);
}

.track__btn-dropdown:focus circle {
  fill: var(--color-promo);
}

.track__btn-dropdown:active svg {
  transform: rotate(90deg);
}

.track__btn-dropdown svg {
  transition: transform var(--transition-duration) ease-in-out;
}

.track__name__link::before,
.track__btn-dropdown {
  transition: border-color var(--transition-duration) ease-in-out;
}

.track__name__link {
  transition: color var(--transition-duration) ease-in-out;
}

.track__like-btn path,
.track__btn-dropdown circle {
  transition: fill var(--transition-duration) ease-in-out;
}

.track__name__link:focus {
  color: var(--color-promo);
}

.track__name__link:focus::before {
  border-color: var(--color-promo);
}

.track__like-btn:focus-visible path {
  fill: var(--color-promo);
}

.track__name__link:focus-visible,
.track__like-btn:focus-visible {
  outline: none;
}

.tabs-content {
  display: none;
}

.title__h2 {
  font-size: 30px;
  font-weight: normal;
}

.tracks__header {
  color: var(--color-greytxt);
  font-size: 12px;
  letter-spacing: .09em;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tracks__header__number {
  width: 100%;
  max-width: 40px;
}

.tracks__header__name {
  max-width: 434px;
  width: 100%;
}

.tracks__header__albom {
  max-width: 363px;
  width: 100%;
}

.tracks__header__data {
  width: 100%;
  max-width: 488px;
  margin-right: auto;
}

.tracks__header__time {
  width: 100%;
  max-width: 200px;
}

.tracks__item {
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
}

.tracks__item__number {
  width: 100%;
  max-width: 40px;
}

.tracks__item__name {
  max-width: 434px;
  padding-right: 10px;
  width: 100%;
  align-items: center;
  display: flex;
}

.tracks__item__albom {
  max-width: 363px;
  width: 100%;
  padding-right: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tracks__item__data {
  width: 100%;
  max-width: 488px;
  padding-right: 10px;
  margin-right: auto;
  color: var(--color-greytxt);
  font-weight: bold;
}

.tracks__item__like {
  margin-right: 18px;
}

.tracks__item__time {
  width: 100%;
  max-width: 157px;
}

.tracks__item__drop {
  width: 100%;
  max-width: 43px;
}

.track__img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

.track__name {
  margin-bottom: 10px;
}

.track__name__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid var(--color-greyDarkerbg);
  border-bottom: 1px solid var(--color-greyDarkerbg);
}

.track__author {
  color: var(--color-greytxt);
  font-weight: 500;
  font-size: 12px;
}

.track__like-btn {
  position: relative;
  z-index: 2;
}

.track__like-btn.like-btn--active path {
  fill: var(--color-promo);
}

.track__like-btn path {
  fill: var(--color-greytxt);
}

.track__btn-dropdown {
  position: relative;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid transparent;
  transition: transform var(--transition-duration) ease-in-out;
}

.track__btn-dropdown.btn-dropdown--active {
  transform: rotate(90deg);
}

.data__text {
  margin-right: auto;
}

.section.section--active {
  display: block;
}

.tracks__item__drop {
  position: relative;
}

.track__dropdown {
  position: absolute;
  z-index: 100;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  border: 1px solid var(--color-greytxt);
  background-color: #fff;
  right: 0;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  display: none;
}

.track__dropdown.dropdown--active {
  display: flex;
}

.track__dropdown button {
  padding: 10px 18px;
  transition: background-color var(--transition-duration) ease-in-out, color var(--transition-duration) ease-in-out;
}

.playlist__list {
  display: flex;
  flex-wrap: wrap;
}

.playlist__item {
  width: calc((100% - 90px)/4);
  margin-bottom: 30px;
  position: relative;
}

.playlist__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.playlist__h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.playlist__h3__link {
  transition-property: color, background-color, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;
}

.playlist__h3__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.playlist__h3__link:focus-visible {
  outline: none;
  color: #fff;
  background-color: var(--color-promo);
}

.playlist__h3__link:active {
  opacity: .5;
}

.playlist__img {
  width: 100%;
  margin-bottom: 20px;
}

.playlist__count {
  color: var(--color-greytxt);
  font-weight: bold;
}

.playlists-modal {
  max-width: 328px;
  max-height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: none;
  z-index: 10;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #AAAAAA;
}

.playlists-modal.show {
  display: block;
}

.playlists-modal__title {
  font-size: 20px;
  color: #11253D;
}

.playlists-modal__playlist {
  width: 288px;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.playlists-modal__playlist_content {
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 360px;
  overflow-y: auto;
  overflow-x: hidden;
}

.playlists-modal__playlist__image {
  width: 40px;
  height: 40px;
  background: #AAAAAA;
  float: left;
}

.playlists-modal__playlist__title {
  padding-left: 10px;
  padding-top: 4px;
  width: 228px;
  font-size: 14px;
  color: #11253D;
  display: inline-block;
  transition: color var(--transition-duration) ease-in-out;
}

.playlists-modal__playlist__info {
  padding-left: 10px;
  padding-top: 4px;
  width: 228px;
  font-size: 12px;
  color: #AAAAAA;
  display: inline-block;
}

.playlists-modal__playlist:hover .playlists-modal__playlist__title {
  color: var(--color-promo);
}

.playlists-modal__footer {
  width: 114px;
  height: 32px;
  padding: 20px;
}

.playlists-modal__close-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #AAAAAA;
  color: #171717;
  font-size: 14px;
  width: 114px;
  height: 32px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .track__name__link:hover {
    color: var(--color-promo);
  }

  .track__name__link:hover::before {
    border-color: var(--color-promo);
  }

  .track__like-btn:hover path {
    fill: var(--color-promo);
  }

  .track__btn-dropdown:hover circle {
    fill: var(--color-promo);
  }

  .track__btn-dropdown:hover {
    border-color: var(--color-greyBgBtn);
  }

  .track__dropdown button:hover {
    background-color: var(--color-promo);
    color: #fff;
  }

  .playlist__h3__link:hover:not(:focus-visible) {
    color: var(--color-promo);
  }
}

@media (max-width: 1440px) {
  .tracks__header__albom {
    max-width: 262px;
  }

  .tracks__header__data {
    max-width: 239px;
  }

  .tracks__header__time {
    max-width: 99px;
  }

  .tracks__item__albom {
    max-width: 262px;
  }

  .tracks__item__data {
    max-width: 239px;
  }

  .tracks__item__time {
    max-width: 56px;
  }

  .playlist__h3 {
    font-size: 24px;
  }

  .playlist__item {
    width: calc((100% - 90px)/4);
  }

  .playlist__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .playlist__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

@media (max-width: 992px) {
  .playlist__item {
    width: calc((100% - 60px)/3);
  }

  .playlist__item:not(:nth-child(4n)) {
    margin-right: 0px;
  }

  .playlist__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  .tracks__header,
  .data__text,
  .tracks__item__time,
  .player__value {
    display: none;
  }

  .tracks__item__albom,
  .tracks__item__data {
    flex: 4;
    max-width: none;
  }

  .tracks__item__name {
    max-width: none;
    flex: 8;
  }
}

@media (max-width: 768px) {
  .playlist__item {
    width: calc((100% - 30px)/2);
  }

  .playlist__item:not(:nth-child(3n)) {
    margin-right: 0px;
  }

  .playlist__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .tracks__item__albom {
    display: none;
  }

  .tracks__item__data {
    flex: 0;
  }
}

@media (max-width: 576px) {
  .playlist__item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
  }

  .playlist__item:not(:nth-child(2n)) {
    margin-right: 0px;
  }

  .playlist__img {
    margin-bottom: 0;
    margin-right: 20px;
    height: 100%;
    width: 99px;
  }

  .playlist__content {
    flex: 1;
  }

  .playlist__h3 {
    font-size: 18px;
  }

  .playlist__count {
    font-size: 12px;
  }

  .track__name {
    margin-bottom: 4px;
  }

  .track__content {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .track__name__link {
    font-size: 18px;
  }

  .tracks__item {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 0;
  }

  .tracks__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .track__name__link:before {
    border: none;
  }
}