:root {
  --greyAA: #AAAAAA;
  --greyA4: #A4A4A4;
  --greyE8: #E8E8E8;
  --greyC4: #C4C4C4;
  --whiteF5: #F5F5F5;
  --whiteFF: #FFFFFF;
  --black11: #11253D;
  --black17: #171717;
  --orange: #FC6D3E;
  --purple: #ECDCF7;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

body {
  margin: 0;
}

:root {
  --color-blacktxt: #11253D;
  --color-greytxt: #A4A4A4;
  --color-lightgreytxt: #C4C4C4;
  --color-greybg: #F5F5F5;
  --color-greyDarkerbg: #E8E8E8;
  --color-greyBgBtn: #AAAAAA;
  --color-promo: #FC6D3E;
  --transition-duration: .3s;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.flex {
  display: flex;
}

.search__btn-open {
  display: none;
}

.playlists-modal {
  max-width: 328px;
  max-height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: none;
  z-index: 10;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #AAAAAA;
}

.playlists-modal.show {
  display: block;
}

.playlists-modal__title {
  font-size: 20px;
  color: #11253D;
}

.playlists-modal__playlist {
  width: 288px;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.playlists-modal__playlist_content {
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 360px;
  overflow-y: auto;
  overflow-x: hidden;
}

.playlists-modal__playlist__image {
  width: 40px;
  height: 40px;
  background: #AAAAAA;
  float: left;
}

.playlists-modal__playlist__title {
  padding-left: 10px;
  padding-top: 4px;
  width: 228px;
  font-size: 14px;
  color: #11253D;
  display: inline-block;
  transition: color var(--transition-duration) ease-in-out;
}

.playlists-modal__playlist__info {
  padding-left: 10px;
  padding-top: 4px;
  width: 228px;
  font-size: 12px;
  color: #AAAAAA;
  display: inline-block;
}

.playlists-modal__playlist:hover .playlists-modal__playlist__title {
  color: var(--color-promo);
}

.playlists-modal__footer {
  width: 114px;
  height: 32px;
  padding: 20px;
}

.playlists-modal__close-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #AAAAAA;
  color: #171717;
  font-size: 14px;
  width: 114px;
  height: 32px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}