.title {
  padding-top: 10px;
  font-size: 24px;
}

.message {
  margin-bottom: 5px;
  font-size: 16px;
}

.suggest {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  gap: 5px;
}

.modal__btn {
  color: var(--orange);
  font-size: 16px;
  text-decoration: underline;
}

.error__title {
  padding-top: 10px;
  font-size: 24px;
}

.error__block {
  margin-bottom: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  font-size: 16px;
  color: rgb(189, 39, 39);
}

.like__btn {
  position: relative;
  z-index: 2;
}

.like__btn path {
  transition: fill 0.3s ease-in-out;
}

.like__btn:focus-visible path {
  fill: var(--orange);
}

@media (min-width: 1200px) {
  .like__btn:hover path {
    fill: var(--orange)
  }

  .like__btn:disabled {
    cursor: not-allowed;
  }

  .like__btn:disabled path {
    fill: var(--greyA4);
  }
}