.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes animatetop {
  from {
    top: 20%;
    opacity: 0
  }

  to {
    top: 50%;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: 20%;
    opacity: 0
  }

  to {
    top: 50%;
    opacity: 1
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200;
  min-width: 280px;
  max-width: 500px;
  max-height: 800px;
  padding: 20px;
  border: 1px solid var(--greyAA);
  background: var(--whiteFF);
  transform: translate(-50%, -60%);
  animation: animatetop 0.4s ease-in-out;
  overflow-y: auto;
}

.footer {
  width: 114px;
  height: 32px;
  padding: 20px;
}

@media (max-width: 992px) {
  .modal {
    max-width: 400px;
    max-height: 500px;
    padding: 20px;
  }
}