.content_wrap {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.main {
  padding: 35px 53px 170px 340px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 1300px) {
  .main {
    padding: 110px 53px 170px 53px;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 100px 53px 200px 53px;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 100px 18px 185px 16px;
  }
}